.site-navbar-appointment {
    background-color: #009688;
}
@media (max-width: 767.98px) {
    .navbar-brand-center {
        position: absolute;
        left: 52%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    line-height: normal;
    color: #2c3a4a;
}
.pnl-mb0 {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
.monthly-p {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263238;
}
.avatar-54 {
    width: 54px;
    height: 54px;
}
.avatar-37 {
    width: 37px;
    height: 37px;
}
.avatar-24 {
    width: 24px;
    height: 24px;
}
.page-content {
    padding: 0 20px 20px 20px !important;
}
.page-header {
    padding: 20px 20px 0 20px;
}
.pt-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.pl-16 {
    padding-left: 16px;
}
.calendar-box {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    float: left;
}
.box-active{
    background-color: #44d6c8;
}
.box-no-active {
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
}
.box-no-active > p {
    color: #76838f !important;
}
.box-no-active > h5 {
    color: #263238 !important;
}
.calendar-box > .month {
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.calendar-box > .day-of-week {
    height: 16px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
}
.appointment-in-day {
    padding-left: 62px;
}
.appointment-in-day > p {
    margin-bottom: 0 !important;
}
.time-appointment {
    font-size: 16px;
    color: #76838f;
}
.even-panel {
    box-shadow: inset 0 -1px 0 0 rgba(204, 213, 219, 0.3);
    background-color: #f3f7f9;
}
.appointment-in-month {
    padding-top: 33px;
}
.modal-title > .page-title{
    font-size: 18px;
}

.nn-modal-mobile > .modal-dialog {
    height: 100%;
    padding: 56px 0px 0px 0px;
    /*margin: 0;*/
}
.close {
    float: right;
    font-size: 30px;
     font-weight: 500;
     line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
}
.nn-modal-mobile > .modal-dialog > .modal-content > .modal-body {
    background-color: #f1f4f5;
}

.slick-prev:before, .slick-next:before {
    color: #76838f;
}
.slider {
    margin: 0 20px 20px !important;
    text-align: center;
}
.nn-item {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin: 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}
.nn-item:hover {
    cursor: pointer;
}
.nn-item.current {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #44d6c8;
}
.nn-item.current > p {
    color: #fff;
}
.nn-color-black {
    color: #263238;
}
.modal-simple .modal-header+.modal-body {
    padding-top: 12px;
}
.pull-right {
    text-align: right;
}
.color-gray {
    color: #89939b;
}
.color-gray-1 {
    color: #838f9a;
}
.fa-rotate-270 {
    transform: rotate(270deg) !important;
}
hr {
    margin: 0;
}
.service {
    border-radius: 4px;
    margin: 8px 2px;
    padding: 1px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #d6dde8;
    color: #263238;
    font-size: 12px;
}
.nail-tech-info {
    padding-top: 11px;
}

/*start modify tui-calendar*/


.tui-full-calendar-dayname-date-custom {
    font-size: 16px !important;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #263238;
}
.tui-full-calendar-dayname-name-custom {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #76838f;
}