.gem {
    background-image: linear-gradient(136deg, #6ee2f5, #74c6f5 20%, #76aaf4 40%, #748ef3 60%, #6e72f2 80%, #6454f0);
    font-size: 44px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.orinail-and-spa {
    color: #3f51b5;
}
.page-copyright-inverse {
    opacity: 0.32;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #374750;
    margin-top: 30px;
}
.oval-div {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.twitter {
    background-color: #29a4da;
}
.facebook {
    background-color: #4367b2;
}
.oval-div > span {
    color: #ffffff;
    line-height: 1.7;
}
.color-black {
    color: #263238;
}
.color-gray {
    color: #76838f;
}
.btn-rectange.checking {
    background-color: #1de8b6 !important;
    color: #fff !important;
    border: none;
}
.btn-rectange {
    border: solid 1px #76838f;
    background-color: #fff;
    color: #263238;
}

.fas.fa-plus {
    color: #76838f;
}
.right-panel-service {
    background-color: #f3f7f9;
}
.right-panel-service > .page-content {
    padding-top: 0;
    padding-left: 0;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}
.introduce-text {
    background-blend-mode: soft-light;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(4, 11, 31, 0.75));
}
.introduce-p {
    color: #fff;
    line-height: 1.68;
    letter-spacing: normal;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 400;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #17b3a3;
    border-color: #17b3a3;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.color-76838f {
    color: #76838f;
}
.btn-bg-white{
    border-radius: 4px;
    border: solid 1px #76838f;
    background-color: #ffffff;
    color: #263238;
}
.input-border {
    border-radius: 4px;
    border: solid 1.5px #76838f;
    background-color: #ffffff
}
.btn-back {
    border-radius: 4px;
    border: solid 1.5px #ccd5db;
    background-color: #ffffff;
}
.btn-child {
    border-radius: 4px;
    background-color: #0cb2d4;
    width: 100%;
    color: #fff;
}
.bg-17b3a3 {
    border: 0;
    border-top: solid 1px #17b3a3;
}
.btn-full-width-white {
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263238;
    padding: 20px;
}
.fa-user-plus, .fa-trash-alt {
    color: #76838f;
    border-radius: 4px;
    border: solid 1px #d6dde8;
    background-color: #ffffff;
    padding: 5px;
}
.input-search .form-control, .search-by-phone {
    border-radius: 4px;
    border: solid 1.5px #76838f;
    background-color: #ffffff;
}


.nail-tech-and-time-select {
    cursor: pointer;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
}
.nail-tech-and-time-select > div > button.btn-select-nail-text {
    background-color: #fff;
    color: #76838f;
    text-align: center;
}
.nail-tech-and-time-select > div > h3 {
    color: #2c3a4a;
}
.nail-tech-and-time-select > div > p{
    color: #76838f;
}
.checkbox-custom label::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    content: "";
    background-color: #fff;
    border: 2px solid #263238;
    border-radius: .215rem;
    transition: all .3s ease-in-out 0s;
}
.bg-f3f7f9 {
    border-radius: 4px;
    background-color: #f3f7f9;
}
.ticket-detail {
    padding: 20px 0 20px 40px;
    border-radius: 4px;
    background-color: #f3f7f9;
}