.panel-height-530 {
    min-height: 530px;
}
.panel-height-280 {
    min-height: 280px;
}
.pheading-height-340 {
    min-height: 336px;
    background-color: #D9DFE5;
}
.gift-card-title {
    font-size: 26px;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}
.input-group-text {
    background-color: #fff;
    border-left: none;
}
.no-border-right {
    border-right: none;
}
.form-control {
    font-weight: normal;
}
.fa-bolt {
    line-height: 1.4;
    font-weight: bold !important;
}
.create-gift-card {
    border-radius: 12px;
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}
.left--50 {
    left: -50%;
}
.left-50 {
    left: 50%;
}

@media (min-width: 768px) {
    .create-gift-card {
        min-width: 540px;
    }
}
.vertical-align-middle {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.ml--7 {
    margin-left: -7px;
    margin-right: -7px;
}
.px-7 {
    padding-right: 7px;
    padding-left: 7px;
}
.btn-outline.btn-default {
    width: 100%;
    max-height: 44px;
}
.first-gift {
    line-height: normal;
    font-size: 26px;
    font-weight: 500;
}
.gift-selected {
    background-color: #3e8ef7;
    color: #fff !important;
}
.gift-selected > button{
    color: #fff !important;
}
.submit-btn {
    padding: 10px 24px;
}
.bg-color-blue {
    background-color: #17b3a3;
}
.bg-color-ash {
    background-color: #f3f7f9;
}
.top-60 {
    top: 60px;
}
.scan-barcode-input {
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(23, 179, 163, 0.43);
    border: solid 1px #ccd5db;
    background-color: #ffffff;
}

.form-control.focus, .form-control:focus {
    border-color: #ccd5db;
    border-right: none;
    box-shadow: none;
}
.w-100-pc {
    width: 100%;
}
.panel-detail {
    border-radius: 12px;
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    min-height: 300px
}
.oval-div {
    border-radius: 50%;
    background-image: linear-gradient(312deg, #f63e6b, #f5c4cd);
    width: 100%;
    padding-top: 100%;
}
.inside-oval-div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.inside-oval-div > div {
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (max-width: 768.02px){
    .balance-remaining {
        font-size: 30px !important;
        padding-bottom: 15px;
    }
}
.font-size-48 {
    font-size: 48px;
}
.top--25 {
    top: -25px;
}
button.color-3e8ef7:focus, button.color-3e8ef7:checked, button.color-3e8ef7:active {
    box-shadow: none !important;
}
.input-group-calendar {
    border-radius: 0 4px 4px 0 !important;
}
.line-height-1 {
    line-height: 1;
}
.border-radius-16 {
    border-radius: 16px;
}
.height-width-48 {
    height: 48px;
    width: 48px;
}
.btn-floating i {
    position: relative;
    top: -2px;
    /* left: 1px; */
}
.input-search .form-control {
    border-radius: 4px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #02bcd4;
}

.nav-pills-rounded .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
    color: #263238;
    background-color: #f3f7f9;
}
.fa-plus {
    color: #17b3a3
}
.table-bordered td, .table-bordered th {
    border-left: none;
    border-right: none;
    padding-left: 30px;
}
.table-bordered th {
    color: #666666 !important;
    font-size: 14px;
    font-weight: normal;
}
.table-bordered td {
    color: #263238 !important;
}
.table-bordered tr{
    border: 1px solid #e4eaec;
}
.oval-dot {
    border-radius: 50%;
    background-color: #ccd5db;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.oval-dot.active {
    background-color: #17b3a3;
}