body.no-nav {
    padding-top: unset;
}
.page-no-nav {
    min-height: calc(100% - 44px);
    background-color: #f6f7fb;
}
.footer-no-nav {
    margin-left: unset !important;
}
.gift-nav-container {
    padding-left: 7%;
    padding-right: 7%;
}
.nav-gift {
    background-image: linear-gradient(95deg, #010115 -15%, #123a53 93%);
}
.shop-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.navbar-default .navbar-toolbar .nav-link {
    line-height: 35px;
    color: #fff;
}
.p-l-30 {
    padding-left: 20px;
}
.navbar-toolbar .nav-link.nav-link-align-top {
    padding-top: 0;
}
.check-balance-text {
    padding: 2px 10px;
    background-color: #406882;
    border-radius: 5px;
    color:white;
}
.navbar-default .navbar-toolbar .nav-link:focus, .navbar-default .navbar-toolbar .nav-link:hover {
    background-color: unset !important;
    color: #fff !important;
}
.page-content-custom {
    padding-left: 8%;
    padding-right: 8%;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.line-height-36 {
    line-height: 36px;
}
.gift-title {
    font-size: 16px;
    font-weight: 500;
}
.gift-image {
     width: 100%;
     height: 160px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

.gift-item.selected .gift-image {
    width: 100%;
    height: 132px;
}

.gift-item {
    border-radius: 15px;
}
.gift-item:hover, .gift-item.selected {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px
}

.color-1f2d3d {
    color: #1f2d3d;
}
.circle-border {
    display: none;
}
.circle-border-left {
    position: absolute;
    background-color: #f6f7fb;
    width: 36px;
    height: 36px;
    bottom: -18px;
    left: -18px;
    border-radius: 50%
}
.circle-border-right {
    position: absolute;
    background-color: #f6f7fb;
    width: 36px;
    height: 36px;
    bottom: -18px;
    right: -18px;
    border-radius: 50%
}
.circle-border-top-left {
    position: absolute;
    background-color: #f6f7fb;
    width: 36px;
    height: 36px;
    top: -18px;
    left: -18px;
    border-radius: 50%
}
.circle-border-top-right {
    position: absolute;
    background-color: #f6f7fb;
    width: 36px;
    height: 36px;
    top: -18px;
    right: -18px;
    border-radius: 50%
}
.book-gift-panel {
    background-image: linear-gradient(
            180deg, #010139 -15%, #123A39 93%);
    position: relative;
    display: none;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.color-white {
    color: #fff;
}
.form-group {
    margin-bottom: 10px;
}
.hr-dotted {
    margin-top: 0;
    border-top: dotted 3px #666;
}
.no-background {
    background-color: #fff;
    border-left: unset;
}
input.datepicker {
    border-right: 0;
}
form.gift-book-form input.form-control{
    padding: 1.429rem 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.input-group-text.no-background {
    padding: 1.429rem 1rem;
}
label {
    margin-bottom: 2px;
}
.full-width {
    width: 100%;
}
.btn-info {
    color: #fff;
    background-color: #0cc3b6;
    border-color: #0cc3b6;
    box-shadow: none;
}
.btn-default, .btn-info {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.gift-item.selected .book-gift-panel, .gift-item.selected .circle-border{
    display: block;
}
.p-t-20 {
    padding-top: 20px;
}
.panel-bordered>.panel-footer {
    border-top: unset;
}
.cart-item {
    background-color: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: unset;
    margin-right: unset;
}
.gift-cart-item-img {
    width: auto;
    display: block;
    margin: auto;
    max-width: 100%;
    height: 150px;
}
.p-t-30 {
    padding-top: 30px !important;
}
.remove-cart-item {
    padding: 1px 5px 1px 5px;
    border: solid 1px #ddd;
    border-radius: 5px;
    float: right;
    color: #76838f;
    margin:2px;
}
.edit-cart-item {
    padding: 2px 1px 0px 5px;
    border: solid 1px #ddd;
    border-radius: 5px;
    float: right;
    color: #76838f;
    margin:2px;
}
.buy-another {
    margin-bottom: 11px;
    margin-top: 11px;
}
.cart-mobile-action {
    padding-left: 0;
    margin-right: 0;
    padding-top: 15px;
}
.p-l-0 {
    padding-left: 0;
}
.p-x-0 {
    padding-left: 0;
    padding-right: 0;
}
.input-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
}
.gift-item-detail-description {
    font-size: 12px;
    word-break: break-word;
}
@media (max-width: 479.98px) {
    body {
        font-size: 16px !important;
    }
    .page-header {
        padding-left: 0;
        padding-right: 0;
    }
    .page-content-custom {
        padding-left: 15px;
        padding-right: 15px;
    }
    .fa-ellipsis-v {
        padding: 3px;
    }

    .gift-cart-item-img {
        height: 80px;
    }
    .gift-item-detail {
        padding-top: 10px !important;
    }
    .gift-item-detail-description {
        font-size: 14px !important;
    }
    .remove-cart-item {
        padding: 10px 7px;
        font-size: 40px;
        margin: 2px;
    }
    .edit-cart-item {
        padding: 11px 1px 6px 4px;
        font-size: 40px;
        margin: 2px;
    }
    .fa-shopping-cart, .fa-bars {
        font-size: 44px;
    }
}
@media only screen and (max-width: 768.02px) {
    .gift-item-detail-label {
        padding-left: 10px;
    }
    .action-btn-mobile {
        position: fixed !important;
        background-color: #fff !important;
        margin-right: 0;
    }
}
@media only screen and (max-width: 768.02px) and (min-width: 479.99px) {
    .gift-item-detail-label {
        padding-left: 10px;
    }
}

.p-12 {
    padding: 12px !important;
}
.p-x-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.select-gift-item {
    width: 96px;
}
.gift-item-action {
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
}
.card-columns .card {
    background-color: unset;
    margin-bottom: unset;
}
@media (min-width: 480px) {
    .card-columns .card {
        display: flex;
        width: 100%;
        column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}
@media (min-width: 480px) and (max-width: 1024px){
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.429rem;
        column-gap: 1.429rem;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.429rem;
        column-gap: 1.429rem;
    }
}
@media (min-width: 1441px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.429rem;
        column-gap: 1.429rem;
    }
}

@media (min-width: 768px) {
    .cart-number-badge {
        position: relative;
        left: 28px;
        top: -59px;
        background: #039688;
        border-radius: 9px;
        padding: 2px;
        font-size: 11px;
        color: #fff
    }
}

@media (max-width: 767px) and (min-width: 496px) {
    .cart-number-badge {
        position: relative;
        left: -17px;
        top: -21px;
        background: #039688;
        border-radius: 52px;
        padding: 3px;
        font-size: 14px;
        color: #fff;
    }
    .fa-shopping-cart {
        font-size: 33px;
    }
}

@media (max-width: 495px) {
    .navbar-header div {
        display:inline-block;
    }
    .cart-number-badge {
        position: relative;
        left: -17px;
        top: -21px;
        background: #039688;
        border-radius: 52px;
        padding: 3px;
        font-size: 14px;
        color: #fff;
    }
    .fa-shopping-cart {
        font-size: 33px;
    }
}
